{% extends "Vinus/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Start Recording</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Submit</button>
            </div>
        </form>
      <button class="btn btn-outline-info" id='btnGiveCommand'>Give Command!</button>
      <button class="btn btn-outline-info" id='stop'>Stop!</button>
      <span id='message'></span>
    </div>
<script>
    var message = document.querySelector('#message');
    var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
    var SpeechGrammarList = SpeechGrammarList || webkitSpeechGrammarList;
    var grammar = '#JSGF V1.0;'
    var recognition = new SpeechRecognition();
    var speechRecognitionList = new SpeechGrammarList();
    speechRecognitionList.addFromString(grammar, 1);
    recognition.grammars = speechRecognitionList;
    recognition.lang = 'en-US';
    var flag = false;
    recognition.interimResults = false;
    recognition.onresult = function(event) {
        var last = event.results.length - 1;
        var command = event.results[last][0].transcript;
        message.textContent = 'Voice Input: ' + command + '.';
        $.ajax({
          url: '/record/',
          data: {
            'message': command
          },
          dataType: 'json',
          success: function (data) {}
        });
        if (command.toLowerCase() === 'stop'){
          flag = false;
          recognition.stop();
        }
    };
    recognition.onend = function(){
      if(flag === true)recognition.start();
    }
    recognition.onerror = function(event) {
      if (event.error != "no-speech")message.textContent = 'Error occurred in recognition: ' + event.error;
    }
    document.querySelector('#btnGiveCommand').addEventListener('click', function(){
          flag = true;
          recognition.start();
    });
    document.querySelector('#stop').addEventListener('click', function(){
      flag = false;
      recognition.stop();
    });
</script>
{% endblock content %}
