{% extends "Vinus/base.html" %}
{% load static %}
{% block content%}
<div class="content-section">
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">APIs for Device {{ view.kwargs.device_name }}</legend>
    </fieldset>
    {% for object in object_list  %}
    <div class="content-section">
        <div class="media-body" class="form-group">
          <div class="">
            <a href="{% url 'api-detail' object.id %}">{{ object.thinger_api_name }}</a>
          </div>
        </div>
    </div>
    {% endfor %}
</div>
{%endblock content%}
