{% extends "Vinus/base.html" %}
{% block content%}
{{ my_model.slug_field_name }}
  <div class="content-section">
      <div class="content-section">
          <div class="media-body" class="form-group">
            <div>Device: {{ object.device_name }}</div>
            <div>User: {{ object.thinger_username }}</div>
            <div>Token: {{ object.token }}</div>
            <div>
              {% if object.is_connected %}
                Device is connected
              {% else %}
                Device is not connected
              {% endif %}
            </div>
            <div>
              <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'device-update' object.id %}">Update</a>
              <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'device-delete' object.id %}">Delete</a>
            </div>
          </div>
      </div>
  </div>
{%endblock content%}
