{% extends "Vinus/base.html" %}
{% load static %}
{% block content%}

<div class="content-section">
    <div class="media-body" class="form-group">
      <table style="width:100%">
       <tr>
            <td>Device name</td>
            <td><a href="{% url 'device-api-list' object.device_name %}">{{ object.device_name }}</a>
            </td>
       </tr>
       <tr>
          <td>Thinger.io Username</td>
          <td>{{ object.thinger_username }}</td>
       </tr>
      </table>
      <div>
        <a class="btn btn-success btn-sm mt-1 mb-1" href="{% url 'device-update' object.id %}">Update</a>
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'device-delete' object.id %}">Delete</a>
        {% if object.is_connected %}
          <img src="{% static '/Vinus/check.png' %}" width="25" height="25">
        {% else %}
          <img src="{% static '/Vinus/uncheck.png' %}" width="25" height="25">
        {% endif %}
      </div>
    </div>
</div>
{%endblock content%}
