{% extends "Vinus/base.html" %}
{% block content%}
<h1>Welcome to Vinus your voice assistant</h1>
    <!-- {% for post in posts %} -->
      <!-- <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">{{  'null'  }}</a>
            <small class="text-muted">{{ 'null'  }}</small>
          </div>
          <h2><a class="article-title" href="#">{{  'null'  }}</a></h2>
          <p class="article-content">{{ 'null' }}</p>
        </div>
      </article> -->
    <!-- {% endfor %} -->
{%endblock content%}
