{% extends "Vinus/base.html" %}
{% load static %}
{% block content%}
{% if user.is_authenticated %}
<div class="content-section">
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Devices</legend>
    </fieldset>
    {% for object in object_list  %}
    <article class="media content-section">
        {% if object.is_connected %}
          <img class="rounded-circle article-img" src="{% static '/Vinus/check.png' %}">
        {% else %}
          <img class="rounded-circle article-img" src="{% static '/Vinus/uncheck.png' %}">
        {% endif %}
        <div class="media-body" class="form-group">
          <div class="article-metadata" >Device: <a href="{% url 'device-detail' object.id %}">{{ object.device_name }}</a></div>
          <div class="article-metadata">User: {{ object.thinger_username }}</div>
        </div>
    </article>
    {% empty %}
    <h1>There are no devices added</h1>
    <div class="border-top pt-3">
        <small class="text-muted">
            <a class="ml-2" href="{% url 'device-create' %}">Add Devices</a>
        </small>
    </div>
    {% endfor %}
</div>
{% else %}
  <h1>Log In to check your devices</h1>
{% endif %}
{%endblock content%}
